@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-stripes {
        background-color: #9ca3af1a;
        background-image: linear-gradient(135deg,#6b728080 10%,transparent 0,transparent 50%,#6b728080 0,#6b728080 60%,transparent 0,transparent);
        background-size: 7.07px 7.07px;
    }
}